.cart-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.cart-page-product-list {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #faf9f9;
    flex-direction: column;
}

.empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    flex-direction: column;
    background-color: #faf9f9;
}

.cart-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px;
    font-size: 20px;
}

.cart-page-img {
    display: flex;
    width: 150px;
}

.cart-page-title {
    display: flex;
}

.cart-page-price {
    padding: 5px;
}

.cart-page-count button {
    padding: 5px;
}

.cart-menu-button {
    width: 300px;
    height: 50px;
    border: 0px;
    font-size: 16px;
    background-color: darkcyan;
    color: cornsilk;
    border-radius: 15px;
}

.cart-menu-button:hover {
    background-color: lightseagreen;
}

.cart-page-count {
    display: flex;
    flex-direction: row;
    gap: 10px;
}